* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-style from the assets folder */
@font-face {
    font-family: "local-font";
    src: url("/BlogPreviewCard/assets/fonts/Figtree-VariableFont_wght.ttf");
    font-weight: 500, 800;
    font-style: normal;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'local-font';
}

/* Main container position and styling */
.main-container-position {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    height: 100vh;
}

.main-container-style {
    background-color: white;
    border-radius: 18px;
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    box-shadow: 8px 8px;
    margin: 1.4rem;
}

/* container for the image preview */
.image-container {
    text-align: center;
    margin: 0;
}

.image-container-styling img {
    border-radius: 15px;
    max-width: 100%;
}

/* Course-status */
.learning-container {
    background-color:hsl(47, 88%, 63%);;
    width: fit-content;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
}

/* Text in the main container */
h1 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.release-date {
    font-weight: 800;
    opacity: 0.9;
    font-size: 12px;
    margin-top: 15px;
}

.description {
    opacity: 0.6;
    font-weight: 500;
}

/* The name of the author position */
.name-bottom-container {
    margin-top: 30px;
    display: flex;
    font-weight: 800;
}

.name-bottom-container img {
    max-width: 10%;
    margin-right: 10px;
}

/* icense block and position of it */
.attribution {
    font-size: 14px;
    font-weight: 800;
    opacity: 0.8;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}

main {
    flex-grow: 1;
}
    