* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-style from the assets folder */
@font-face {
    font-family: "local-font";
    src: url("/BlogPreviewCard/assets/fonts/Figtree-VariableFont_wght.ttf"),
         url("/BlogPreviewCard/assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
    font-weight:normal;
    font-style: normal;
}

body {
    background-color: hsl(47, 88%, 63%);
}

/* Main container position and styling */
.main-container {
    background-color: white;
    width: fit-content;
    flex-direction: column;
    margin: 0;
}

/* container for the image preview */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.main-content-text {
    font-family: "local-font";
    font-size: 16px;
}

/* The name of the author position */
.name-bottom-container {
    display: flex;
    font-family: "local-font";
}

/*license block */
.attribution {
    font-family: "local-font";
    font-size: 14px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}

main {
    flex-grow: 1;
}
    