* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-style from the assets folder */
@font-face {
    font-family: "local-font";
    src: url("/BlogPreviewCard/assets/fonts/Figtree-VariableFont_wght.ttf"),
         url("/BlogPreviewCard/assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
    font-weight:normal;
    font-style: normal;
}

body {
    background-color: hsl(47, 88%, 63%);
}

/* Main container position and styling */
.main-container-position {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    height: 100vh;
}

.main-container-style {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    width: 350px;
}

/* container for the image preview */
.image-container {
    text-align: center;
    margin: 0;
}

.image-container-styling {
    width: 25px;
    border-radius: 10px;
}

.language-container {
    background-color:hsl(47, 88%, 63%);;
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
}

/* Text in the main container */
.main-content-text {
    font-family: "local-font";
    font-size: 16px;
}

/* The name of the author position */
.name-bottom-container {
    display: flex;
    font-family: "local-font";
}

/* icense block and position of it */
.attribution {
    font-family: "local-font";
    font-size: 14px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}

main {
    flex-grow: 1;
}
    