* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-style from the assets folder */
@font-face {
    font-family: "local-font";
    src: url("/BlogPreviewCard/assets/fonts/Figtree-VariableFont_wght.ttf");
    font-weight: 500 800;
    font-style: normal;
}

/* font-size for mobile layout */


/* main background color */
body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'local-font';
    line-height: 1.5;
}

/* spasing for the text inside of the container */
p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Main container position and styling */
.main-container-position {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    height: 100vh;
}

.main-container-style {
    background-color: white;
    border-radius: 18px;
    border: 1.5px solid black;
    padding: 23px;
    width: 85%;
    max-width: 350px;
    box-shadow: 8px 8px;
}

/* container for the svg image */
.image-container {
    text-align: center;
}

.image-container-styling img {
    border-radius: 15px;
    max-width: 100%;
}

/* Course-status */
.learning-container {
    background-color:hsl(47, 88%, 63%);;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 14px 5px 14px;
    margin-top: 15px;
    font-size: 15px;
}

h2 {
    font-weight: 800;
    font-size: 0.9rem;
}

/* Name of the course */
h1 {
    font-weight: 800;
    font-size: 1.4rem;
}

/* course's release date and description*/
.release-date {
    font-weight: 600;
    color: hsl(0, 0%, 7%);
    font-size: 0.8rem;
}

.description {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    font-size: 0.9rem;
}

/* interactions for the links inside of the container */
a.heading-link, a.author-link {
    color:hsl(0, 0%, 7%);
}

a.heading-link:hover, a.author-link:hover {
    color:hsl(47, 88%, 63%);
    text-decoration: none;
}

a.heading-link:focus-visible, a.author-link:focus-visible {
    outline :2px solid hsl(47, 88%, 63%);
}

/* The name of the author position*/
.Avatar-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    margin-top: 15px;
}

.Avatar-bottom-container img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* icense position and styling */
.attribution {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}